.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.formulario {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.formulario input {
  width: 100%;
  padding: 0.8rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formulario button {
  width: 100%;
  padding: 0.8rem;
  background-color: #2e86de;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  cursor: pointer;
}

.link {
  color: #2e86de;
  margin-top: 1rem;
  cursor: pointer;
  font-size: 0.9rem;
}
